/* Hero */
.hero-bg, .herovariant-bg {
    background-image: url('/public/hero.png');
    background-size: cover;
    background-position: center;
}

.hero-h1 {
    font-size: 52px;
    letter-spacing: -1%;
    line-height: 60px;
}

.hero-p {
    font-size: 18px;
    letter-spacing: -0.1px;
    line-height: 26px;
}

.herovariant-bg {
    border-bottom-left-radius: 150% 25%;
    border-bottom-right-radius: 150% 25%;
    height: 50vh;
}
