/* Section 1 */
.s1-icon {
    height: 75px;
    width: 75px;
}

.s1-title {
    font-size: 65px;
    letter-spacing: -1%;
}

.s1-st {
    font-size: 22px;
    letter-spacing: -0.1px;
}

.s1-h1 {
    font-size: 36px;
    letter-spacing: -1.5%;
    font-weight: 700;
}

.s1-p {
    font-size: 16px;
    letter-spacing: -0.1px;
}

.border-light {
    border-color: #EAEBF0;
}

.s2-h2, .dc-title {
    font-size: 36px;
    line-height: 44px;
    word-wrap: -1%;
}

.s2-p {
    font-size: 16px;
    line-height: 30px;
    word-wrap: -1.5%;
}
.s2-title {
    font-weight: -1%;
    font-size: 22px;
}

.s2-body, .dc-subtitle, .reg-h3 {
    font-weight: -0.1px;
    font-size: 20px;
    line-height: 24px;
}

.logo-card {
    max-height: 48px;
    max-width: 48px;
}

.modal-header {
    border-bottom: 0 ;
}

.modal-title {
    font-size: 40px;
}

.modal-subtitle {
    margin-top: -35px;
    font-size: 15px;
}

.contact-div h1 {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1%;
}

.contact-div p, .req, .login-q {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.s3-h1, .s4-h1, .s5-h1 {
    font-size: 45px;
    line-height: 40px;
    letter-spacing: -2%;
}

.s3-p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.1px;
}

.s4-p, .s5-p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.announcement-image {
    max-width: 100%; /* Set the maximum width of the image */
    max-height: 200px; /* Set the maximum height of the image */
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
  }
  
  .custom-card {
    max-width: 50%; /* Adjust the maximum width as needed */
  }

  .user-avatar {
    max-width: 40px; /* Adjust the maximum width as needed */
    max-height: 40px; /* Adjust the maximum height as needed */
    padding-right: 4%;
  }

  
.with-border {
    border: 2px solid white;
}


.dc-hr {
    border: 5px solid white;
}

.dc-p {
    font-size: 20px;
    line-height:  28px;
    letter-spacing: -2%;
  }

  
.darkyellow-icon {
    color: var(--dark-yellow) !important;
  }

  .login-modal {
    background-image: url("/public/Login.png");
    background-repeat: no-repeat;
    background-position: top;
}

.register-modal {
    background-image: url("/public/Login.png");
    background-repeat: no-repeat;
    background-position: top;
}
.rounded-modal {
    border-radius: 10%;
}

.login-form, .register-form{
    background-color: white; 
    border-radius: 10px;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .btn-close {
    background-color: white;
    color: white !important; 
  }

  .modal-title {
    font-size: 60px;
    line-height: auto;
  }

  .modal-subtitle {
    font-size: 20px;
    line-height: auto;
  }

  .login-modal .form-label {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
  
  .register-modal .form-label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }

  .form-control, .forgot-pw, .login-q, .reg-q{
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
  }

  .form-check {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }

  .reg2-p {
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0;
  }

  .officer-card {
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

.option-pending {
  background-color: var(--dark-yellow);
  color: white;
}

.option-approve {
  background-color: green;
  color: white;
}

.option-return {
  background-color: blue;
  color: white;
}

.option-reject {
  background-color: var(--red);
  color: white;
}

.apply-now-btn {
  color: white; /* This sets the text color to white */
  background-color: #f0ad4e; 
  border: none; 
  transition: background-color 0.3s; 

}

.apply-now-btn:hover {
  color: white; 
  background-color: #800; 
}

.btn-warning {
  color: white; /* This sets the text color to white for all 'warning' variant buttons */
}


.offcanvas {
  --bs-offcanvas-width: 23%;
}


.card-image-orgvariant {
  width: 100%;
  height: 15vw;
  object-fit: contain;

}

.login-form .position-relative .fa {
  cursor: pointer;
  right: 10px; /* Adjust as needed */
  top: 100px; /* Centers the icon vertically */
  transform: translateY(-50%);
}
